# Các thư mục chứa thư viện và build
node_modules
dist
build
out

# File cấu hình hệ thống và lock
package.json
.prettierrc
*.config.js
tsconfig.*
vite.config.ts
yarn.lock
.husky

# Các file tĩnh
public
*.min.css
*.min.js